@import '~bootstrap/scss/bootstrap';

$text-color: #fff;
$background-color: #000;


body {
  background-color: $background-color;
  background-image: url('./monsterfight.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.sign-up-form {
  color: $text-color;
}

.sign-in-form {
  color: $text-color;
}

.change-password-form {
  color: $text-color;
}
